@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <form class="form">
        <label>Numero de factura</label>
        <input type="text" />
        <label>Fecha</label>
        <input type="date" />
        <label>Cliente</label>
        <select>
            <option>Cliente 1</option>
            <option>Cliente 2</option>
            <option>Cliente 3</option>
        </select>
    </form>

    <input type="number" />
    <input type="number" />
    <button> Sumar</button>
    <label></label>
</div>

@{

}

<style>
    .form {
        display: flex;
        flex-direction: column;
    }
</style>


